<header>
  <nav class="menubar">

    <div class="brandbox" (click)="navigate.to('/')">
      <h2 class="zero-margin"> /'Snor&middot;kel&middot;ology/ </h2>
    </div>

    <svg *ngIf="enableMenu" class="hamburger" viewBox="-55 -55 110 110" height="1.6rem" width="1.8rem" fill=var(--text-colour)  (click)="onMenuClick()">
      <rect x="-50" y="-50" width="100" height="100" fill="#FFFFFF" rx="10" stroke="var(--text-colour)" stroke-width="6">
        <animate begin="click" id="startAnimation" />
      </rect>
      <line x1="-20" y1="-20" x2="20" y2="-20" stroke=var(--text-colour) stroke-width="6" opacity="1" stroke-linecap="round" pointer-events="none">
        <animate attributeName="y2" from="20" to="-20" dur="0.5s" begin="startAnimation.begin" fill="freeze"></animate>
      </line>
      <line x1="-20" y1="0" x2="20" y2="0" stroke=var(--text-colour) stroke-width="6" stroke-linecap="round" pointer-events="none">
        <animate attributeName="opacity" from="0" to="1" dur="0.5s" begin="startAnimation.begin" fill="freeze"></animate>
      </line>
      <line x1="-20" y1="20" x2="20" y2="20" stroke=var(--text-colour) stroke-width="6" stroke-linecap="round" pointer-events="none">
        <animate attributeName="y2" from="-20" to="20" dur="0.5s" begin="startAnimation.begin" fill="freeze"></animate>
      </line>
    </svg>

    <ul *ngIf="enableMenu" class="menu" [ngClass]="showDropdownMenu ? 'show' : ''">

      <li (click)="navigate.scrollTo('about')">About</li>

      <span *ngIf="this.data.instaLoadSuccess" class="middot">&middot;</span>
      <li *ngIf="this.data.instaLoadSuccess" (click)="navigate.scrollTo('feed')">Feed</li>

      <span class="middot">&middot;</span>
      <li (click)="navigate.scrollTo('book')">Book</li>

      <span class="middot">&middot;</span>
      <li (click)="navigate.scrollTo('faq')">Explore</li>

      <span class="middot">&middot;</span>
      <li (click)="navigate.scrollTo('partners')">Friends</li>

    </ul>
  </nav>
</header>
