
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  padding: 0;
  height: var(--navbar-height);
  background-color: white;
  box-shadow: var(--box-shadow-header);
  /* border: 1px red solid; */
}

.menubar {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  /* border: 1px blue solid; */
  padding-inline: 0;
  /* background-color: #264144; */
}

.brandbox {
  margin-top: 1em;
  ;
}
.brandbox:hover {
  cursor: pointer;
}

.menu {
  margin-left: auto;
  padding: 0;
}

.menu > li {
  /* color: white; */
  display: inline;
  padding: 0.25em;
  border-bottom: 2px transparent solid;
  transition: border-bottom 0.5s ease-in-out;
}

.menu > li:hover, .menu > li.active {
  cursor: pointer;
  /* border-bottom: 2px white solid; */
  border-bottom: 2px var(--text-colour) solid;
}

.menu > span {
  margin-inline: 0.25em;
}

.hamburger {
  display: none;
  padding: 0;
  margin-left: auto;
}

.hamburger:hover {
  cursor: pointer;
}

@media (max-width: 767px) {

  .hamburger {
    display: block;
  }

  .menu {
    max-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px var(--border-colour) solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--box-shadow-bottom-only);
    padding: 0;
    margin: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    /* border: 1px red solid; */
  }

  .show {
    max-height: 500px;
  }

  .menu > li {
    display: block;
    text-align: center;
    width: auto;
  }

  .menu > li:last-child {
    margin-bottom: 1em;
  }

  .menu > span {
    display: none;
  }
}
