

.spacer {
  /* width: 20px; */
  height: var(--navbar-height);
  overflow: hidden;
  pointer-events: none;
}

@media (pointer: coarse) {
  .spacer {
    width: 0px;
  }
}

@media (max-width: 767px) {
  .collapse {
    border-bottom: 1px #DEE2E6 solid;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: var(--navbar-height);
  overflow-y: visible;
  pointer-events: none;
}

.navbar-brand {
  color: #566F70;

}

#snNavbar {
  /* scrollbar-gutter: stable; */
  z-index: 999;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar {
  /* --navbar-height is defined in styles.css */
  height: var(--navbar-height);
  pointer-events: auto;
  /* overflow-y: visible; */

}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.sm-image {
  height: 30px;
}

.nav-item {
  margin: 0px !important;
  padding: 0px !important;
}

/* .header-nav { transition: width .3s } */

.nav-link {
  border-bottom: 2px transparent solid;
  transition: border-bottom 0.3s linear 0.05s;
  margin: 6px 6px 6px 6px;
  padding: 0px 5px 0px 5px !important;
  /* width: 70px; */
  /* margin: 0px;
  padding: 10px;
  border-bottom: 1px rgba(86,111,112,0.5) solid; */
}
.nav-link:hover {
  border-bottom: 2px #566F70 solid;
  text-decoration: none;
}

.nav-link.active{
  border-bottom: 2px #566F70 solid;
}


/* .nav-item:hover .svg_box{
  width: 100px;
  height: 25px;
} */

/* #box {
  fill: orange;
  stroke: black;
} */
