

<header class="header d-flex flex-row">

  <!-- <div class="header d-flex flex-row"> -->
    <div class="flex-grow-1">

  <nav class="navbar navbar-expand-md navbar-white bg-white d-flex flex-row w-100 shadow">

    <div class="d-flex px-4 h-100">
      <div class="align-self-center navbar-brand m-0 p-0" (click)="navigate.to('/')">
        <h3 class="m-0 p-0">
          /'Snor&middot;kel&middot;ology/
        </h3>
      </div>
    </div>


    <button *ngIf="showMenu" class="navbar-toggler mx-4 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#snNavbar" aria-controls="snNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div *ngIf="showMenu" class="collapse navbar-collapse align-items-end bg-white justify-content-end rounded-bottom" id="snNavbar"  (click)="onMenuClick()">

      <ul class="navbar-nav align-items-center me-md-3">

        <!-- <li class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('home')">Home</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li> -->

        <li class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('about')">About</a>
        </li>

        <li *ngIf="this.data.instaLoadSuccess" class="d-none d-md-inline">&middot;</li>

        <li *ngIf="this.data.instaLoadSuccess" class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('feed')">Feed
            <span *ngIf="auth.isNewContent" class="badge bg-secondary">New</span>
          </a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('book')">Book</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('faq')">Explore</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" (click)="navigate.scrollTo('partners')">Friends</a>
        </li>


      </ul>
    </div>
  </nav>
    </div>
    <!-- <div class="spacer">

    </div> -->


<!-- </div> -->
</header>
