

<header>

  <div class="header d-flex flex-row">
    <div class="flex-grow-1">

  <nav class="navbar navbar-expand-md navbar-white bg-white d-flex flex-row w-100 shadow">

    <div class="d-flex px-4 h-100">

      <a class="align-self-center navbar-brand m-0 p-0" href="#">
        <h3 class="m-0 p-0">
          /'Snor&middot;kel&middot;ology/
        </h3>
      </a>
    </div>


    <button class="navbar-toggler mx-4 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#snNavbar" aria-controls="snNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse align-items-end bg-white justify-content-end rounded-bottom" id="snNavbar"  (click)="onMenuClick()">

      <ul class="navbar-nav align-items-center">

        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" href="#about" >About</a>
        </li>

        <li *ngIf="this.data.instaLoadSuccess" class="d-none d-md-inline">&middot;</li>

        <li *ngIf="this.data.instaLoadSuccess" class="nav-item text-center">
          <a class="nav-link" href="#feed">Feed </a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" href="#book">Book</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" href="#faq">FAQs</a>
        </li>

        <li class="d-none d-md-inline">&middot;</li>

        <li class="nav-item text-center">
          <a class="nav-link" href="#partners">Friends</a>
        </li>
      </ul>
    </div>
  </nav>
    </div>
    <div class="spacer">

    </div>


</div>
</header>
