
<a id="header"></a>

<header>

  <nav class="d-flex flex-row navbar navbar-height navbar-expand-lg navbar-white bg-white fixed-top shadow">

    <div class="d-flex px-4 h-100">

      <a class="align-self-center navbar-brand m-0 p-0" href="#">
        <h3 class="m-0 p-0">
          /'Snor&middot;kel&middot;ology/
        </h3>
      </a>
    </div>

    <button class="navbar-toggler mx-4 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#snNavbar" aria-controls="snNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="h-100 collapse navbar-collapse bg-white p-0 m-0 justify-content-end" id="snNavbar">
      <ul class=" navbar-nav m-0 p-0 mb-lg-0 align-items-end align-items-lg-center bg-white px-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="d-none d-lg-inline">&middot;</li>
        <li class="nav-item">
          <a class="nav-link" href="#news">News <span *ngIf="auth.isNewContent" class="badge bg-secondary">New</span></a>
        </li>
        <li class="d-none d-lg-inline">&middot;</li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="d-none d-lg-inline">&middot;</li>
        <li class="nav-item">
          <a class="nav-link" href="#book">Book</a>
        </li>
        <li class="d-none d-lg-inline">&middot;</li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQs</a>
        </li>
        <li class="d-none d-lg-inline">&middot;</li>
        <li class="nav-item">
          <a class="nav-link" href="#partners">Friends</a>
        </li>

      </ul>

    </div>

  </nav>

</header>
