
<a id="footer"></a>

<footer>

  <div  class="bg-white border-top text-center p-3 my-0 mx-3">

    <a href="https://twitter.com/snorkelology">
      <img src="../assets/logos/twitter.png" class="sm-image m-2">
    </a>

    <a href="https://www.instagram.com/snorkelology/">
      <img src="../assets/logos/instagram.png" class="sm-image m-2">
    </a>

    <!-- <img src="../assets/logos/email.png" class="sm-image m-3" title="hello@snorkelology.co.uk (click to copy to  your clipboard)"> -->

    <br />

    &copy; Snorkelology 2022 &middot; All Rights Reserved
  </div>
</footer>
