
<footer>

  <div  class="bg-white border-top text-center p-3 my-0 mx-3">

    <a href="https://twitter.com/snorkelology" aria-label="Click to see our twitter feed">
      <picture>
        <source type="image/webp" srcset="../assets/logos/twitter.webp">
        <img src="../assets/logos/twitter.png" class="sm-image m-2" alt="Twitter logo">
      </picture>
    </a>

    <a href="https://www.instagram.com/snorkelology/" aria-label="Click to see our instagram feed" >
      <picture>
        <source type="image/webp" srcset="../assets/logos/instagram.webp">
        <img src="../assets/logos/instagram.png" class="sm-image m-2" alt="Instagram logo">
      </picture>
    </a>

    <a href="mailto:hello@snorkelology.co.uk" aria-label="Click to send us an email" >
      <picture>
        <source type="image/webp" srcset="../assets/logos/email.webp">
        <img src="../assets/logos/email.png" class="sm-image m-2" alt="Email logo">
      </picture>
    </a>

    <br />

    &copy; Snorkelology 2022-2023 &middot; All Rights Reserved
  </div>
</footer>
