
/* This keeps the marketing container above the carousel; needed otherwise its lost under the
photos when parallax scrolling */
.marketing {
  position: relative;
  z-index:99;
}
.parallax-window {
  height: 80vh;
}

