
<div class="bg-white marketing m-0 w-100">

  <div class="container">

    <!------------------------->
    <!-- FEATURE 1: ABOUT US -->
    <!------------------------->

    <a id="about"> </a>

    <div class="row bg-white py-5">
      <div class="col-md-7">
        <h2 class="fw-normal">What is Snorkelology?</h2>
        <p></p>
        <p class="lead">
          We are Emma and Gordon.  When not working we spend as much time as possible outdoors - running, swimming,
          paddleboarding, cycling, climbing, skiing and ... planning our next adventures!
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          We launched this site as a way to connect with others who want to find out more about British Snorkelling...
        </i></blockquote>
        <p class="lead">
          Before our children were born we were enthusiastic SCUBA divers, enventually becoming diving instructors and later on moving into the world
          of techinical (deeper/mixed gas diving).  After a hiatus of about 10 years spent holding babies, herding toddlers and working around
          the needs of the smaller-legged members of the family, we are now rediscovering the marine world through our family snorkelling adventures.
        </p>
      </div>
      <div class="col-md-5">
        <img src="../assets/photos/woman-staring.jpg" class="d-block w-100" alt="Woman Happy after Snorkelling">

      </div>
    </div>

    <!------------------------->
    <!--    ABOUT THE BOOK   -->
    <!------------------------->

    <a id="book"> </a>

    <div class="row bg-white py-5">
      <div class="col-md-7 order-md-2">
        <h2 class="fw-normal">Snorkelling Adventures in Britain </h2>
        <p class="lead">
          Snorkelling is the perfect family adventure for people who love the water and the natural world .  It is free and accessible
          to people of all ages and abilities, but there is a skill in selecting safe sites with abundant underwater life.
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          We are working with Wild Things Publishing to release our first book - all about Snorkelling in Britain!
        </i></blockquote>
        <p class="lead">
          The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
          photography, clear site finding advice and vital tips to get you started. Follow our blog as we discover more about
          the challenges of writing your first book with two young children (and an excitable dog) in tow...
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/photos/post-snokelling-wares.jpg" class="d-block w-100" alt="Children on the beach after a snorkel">
      </div>
    </div>

    <!------------------------->
    <!--    GET IN TOUCH     -->
    <!------------------------->

    <a id="contact"> </a>

    <div class="row py-5">
      <div class="col-md-7">
        <h2 class="fw-normal">Tell us about your snorkelling adventures</h2>
        <p></p>
        <p class="lead">
          As we gather information about great snorkelling sites around our amazing coastline, we understand that there is no subsitute for
          local knowledge, so we'd love to hear about your favourite British snorkelling sites and experiences.
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          Get in touch using the social media links at the bottom of the page...
        </i></blockquote>
        <p class="lead">
          We are slowly working our way around Britain making connections as we go - it's great to meet up with fellow snorkellers on our
          travels ... we are looking forward to hearing from you!
        </p>
      </div>
      <div class="col-md-5">
        <img src="../assets/photos/girl-snorkelling-cropped.JPG" class="d-block w-100" alt="">
      </div>
    </div>
  </div>
</div>
