
<div class="bg-white marketing m-0 w-100">

  <div class="container">

    <!------------------------->
    <!-- FEATURE 1: ABOUT US -->
    <!------------------------->

    <a id="about"> </a>

    <div class="row bg-white py-5">
      <div class="col-md-7">
        <h2 class="fw-normal">What is Snorkelology?</h2>
        <p></p>
        <p class="lead">
          Hello! We are Emma and Gordon, and we big fans of spending time outdoors particularly in, on and around the water.  One of our
          favourite things to do individually and as a family is exploring the seas around the British coastline armed with a mask
          and snorkel (or even just a pair of goggles)...
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          We launched this site as a way to connect with others who want to find out more about British Snorkelling...
        </i></blockquote>
        <p class="lead">
          We had our first exposure to the wonders of British sealife through SCUBA diving, which we loved so much that we both became instructors.
          Then came the challenge of babies, and our water-based forays become more family focussed.  It was the realisation
          that you can explore the beautiful diveristy of life underwater with only a pair of goggles that brought us to snorkelling - a truly
          accessible activity that the whole family can enjoy...
        </p>
      </div>
      <div class="col-md-5">
        <img src="../assets/photos/woman-staring.jpg" class="d-block w-100" alt="Woman Happy after Snorkelling">

      </div>
    </div>
  </div>
</div>

    <div class="parallax-window m-0 p-0">
      <div class="parallax-photo-scorpion m-0 p-0">
      </div>
    </div>
<div class="bg-white marketing m-0 w-100">

  <div class="container">

    <!------------------------->
    <!--    ABOUT THE BOOK   -->
    <!------------------------->

    <a id="book"> </a>

    <div class="row bg-white py-5">
      <div class="col-md-7 order-md-2">
        <h2 class="fw-normal">Snorkelling Adventures in Britain </h2>
        <p class="lead">
          Snorkelling is the perfect family adventure for people who love the water and the natural world .  It is free and accessible
          to people of all ages and abilities, but there is a skill in selecting safe sites with abundant underwater life.
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          We are working with Wild Things Publishing to release our first book - all about Snorkelling in Britain!
        </i></blockquote>
        <p class="lead">
          The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
          photography, clear site finding advice and vital tips to get you started. Follow our blog as we discover more about
          the challenges of writing your first book with two young children (and an excitable dog) in tow...
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/photos/post-snokelling-wares.jpg" class="d-block w-100" alt="Children on the beach after a snorkel">
      </div>
    </div>
  </div>
</div>

    <div class="parallax-window m-0 p-0">
      <div class="parallax-photo-forest m-0 p-0">
      </div>
    </div>

    <!------------------------->
    <!--    GET IN TOUCH     -->
    <!------------------------->
<div class="bg-white marketing m-0 w-100">

  <div class="container">
    <a id="contact"> </a>

    <div class="row py-5">
      <div class="col-md-7">
        <h2 class="fw-normal">Tell us about your snorkelling adventures</h2>
        <p></p>
        <p class="lead">
          As we gather information about great snorkelling sites around our amazing coastline, we understand that there is no subsitute for
          local knowledge, so we'd love to hear about your favourite British snorkelling sites and experiences.
        </p>
        <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
          Get in touch using the social media links at the bottom of the page...
        </i></blockquote>
        <p class="lead">
          We are slowly working our way around Britain making connections as we go.  If you are a snorkeller, involved in working with our
          marine environment or just want to hear more about our project do drop us a message.
        </p>
      </div>
      <div class="col-md-5">
        <img src="../assets/photos/girl-snorkelling-cropped.JPG" class="d-block w-100" alt="">
      </div>
    </div>
  </div>
</div>
