


:host {
  --line-height: 1.7;
  --lines: 4;
}



.feed-container {
  /* height: 500px; */
  /* max-width: 750px; */
  overflow-x: scroll;
}

.insta-post-container:nth-child(1) {
  margin-left: 0px;
  padding-left: 0px;
}

.insta-post-container {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin: 10px;
}

.insta-photo {
  /* width: 100%; */
  /* aspect-ratio: 1; */
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.caption-box {
  padding: 0px;
  line-height: var(--line-height);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(var(--line-height) * (1em * var(--lines)) + 2px)
}

.caption-box > p {
  margin: 0px;
  display: inline;
}

@media (min-width: 576px) {
  .insta-spacer {
    width: 50px;
  }
}
@media (max-width: 576px) {
  .insta-spacer {
    width: 5vw;
  }
}

a {
  text-decoration: none;
  color:  #566F70;
}
