


<div class="bg-white marketing m-0 w-100 py-5">
  <div class="container">

    <div class="py-3">
      <h4 class="fw-normal">Cookie Policy</h4>
      Cookies are small files that a website may store in your browser, and which can be read on future visits.
      This site uses cookies to record the time and date of your last visit, to allow us to identify and flag new content to you.
      We do not collect any data about users visiting the site.
    </div>

    <div class="py-3">
      <h4 class="fw-normal">Meta Instagram API</h4>
      Because we show posts from our Instagram feed on our site, we are obliged by Meta to tell you how we use any data collected from you.
      We do not collect any data from Instagram relating to users visiting out website.
    </div>

    <div class="py-3">
      <h4 class="fw-normal">Any Questions?</h4>
      Please contact us by email, which can be found in the footer.
    </div>

    <a class="py-3" href="/" class="html-link">Back to site</a>
  </div>
</div>

