
<div class="bg-white marketing w-100 h-100 header-spacer d-flex flex-column">

  <div class="d-flex flex-column container flex-grow-1 justify-content-center ">

    <div class="py-3">
      <h4 class="fw-normal">Cookie Policy</h4>
      Cookies are small files that a website may store in your browser, and which can be read on future visits.
      This site uses cookies to record the time and date of your last visit, to allow us to identify and flag
      new content to you. We do not collect any data about users visiting the site.
    </div>

    <div class="py-3">
      <h4 class="fw-normal">Meta Instagram API</h4>
      Because we show posts from our Instagram feed on our site, we are obliged by Meta to tell you how we use any data
      collected from you. We do not collect any data from Instagram (or other sources) relating to users visiting out website.
    </div>

    <div class="py-3">
      <h4 class="fw-normal">Any Questions?</h4>
      Please contact us by email, which can be found in the footer.
    </div>

    <div class="py-4">
      <a href="/" class="html-link">Back to interesting things</a>
    </div>
  </div>

  <app-footer></app-footer>

</div>


