
/* ------------------------------------------------------------------------------------- */
/* ALL PARALLAX WINDOW CSS IS IN src/styles.css TO AVOID DUPLICATION BETWEEN CSS MODULES */
/* ------------------------------------------------------------------------------------- */


/* This keeps the marketing container above the carousel; needed otherwise its lost under the
photos when parallax scrolling */
.marketing {
  position: relative;
  z-index:99;
}
/*
blockquote {
  border-color: #566F70 !important;
  border-width: 2px !important;
} */
