


<main>


  <div data-bs-spy="scroll" data-bs-target="#snNavbar" data-bs-offset="0" class="scrollspy-example" tabindex="0">

    <div appParallax [factor]="6" >

      <app-carousel></app-carousel>
    </div>

    <app-features></app-features>

    <div class="parallax-window m-0 p-0">
      <div class="parallax-photo-scorpion m-0 p-0">
      </div>
    </div>

    <app-faq></app-faq>

    <div class="parallax-window m-0 p-0">
      <div class="parallax-photo-forest m-0 p-0">
      </div>
    </div>

    <app-partners></app-partners>

  </div>

</main>
