
<div class="bg-white marketing m-0 w-100">
  <div class="container">
    <div class="row bg-white py-5">
      <div class="col-md-7 order-md-2">

        <h2 class="fw-normal">Snorkelling Adventures in Britain </h2>

        <p class="lead">
          Snorkelling is the perfect family adventure for people who love the water and the natural world.  It is free and accessible
          to people of all ages and abilities, but there is a skill in selecting safe sites with abundant underwater life.
        </p>
        <blockquote class="blockquote">
          We are working with Wild Things Publishing to release our first book - all about Snorkelling around our stunning British coastline.
        </blockquote>
        <p class="lead">
          The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
          photography, clear site finding advice and vital tips to get you started.  While there is no publication date yet
          decided, we are hoping for release around the spring of 2025, so watch this space...
        </p>
      </div>

      <div class="col-md-5 order-md-1">

        <img class="content-img"
          [ngSrc]="images.img('content-kids').path"
          [alt]="images.img('content-kids').altText"
          [width]="images.img('content-kids').width"
          [height]="images.img('content-kids').width"
        />

      </div>

    </div>
  </div>
</div>
