

<div class="bg-white marketing m-0 w-100">

  <div class="container px-0 py-5">

    <h2 class="fw-normal p-3">Our friends and partners...</h2>

    <div class="d-flex justify-content-evenly flex-wrap">

      <div *ngFor="let card of partnerCards">
        <div class="card partner-card" (click)="nav.navigateTo(card.link)">

          <picture>
            <source type="image/webp" srcset="../assets/logos/{{card.logo}}.webp">
            <img src="../assets/logos/{{card.logo}}.jpg" class="card-img partner-card-img" alt="{{card.alt}}">
          </picture>

          <div class="card-content">
            {{card.caption}}
          </div>

        </div>
      </div>

    </div>
    </div>

</div>
