.carousel-photo {
  /* max-height: 650px; */
  min-height: 240px;
}

.carousel-item {
  max-height: 80vh;
  overflow: hidden;
}


@media (max-width: 576px) {
  .carousel-caption-sm-top {
    top: 0;
    bottom: auto;
  }
}

.carousel-caption-top {
  top: 0;
  bottom: auto;
}
