
<!-- <a id="home"></a> -->
<a id="#"></a>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../assets/photos/post-snorkeling-child-cropped.jpg" class="d-block w-100 carousel-photo" alt="Child walking up beach after snorkeling">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome to Snorkelology</h1>
          <p>Discover the wonders of British snorkelling for all the family</p>
          <p><a class="btn btn-default" href="#about">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/photos/drone-woman-snorkeling.jpg" class="d-block w-100 carousel-photo" alt="Aerial photo of woman snorkeling in UK waters">
      <div class="container">
        <div class="carousel-caption">
          <h1>Best Snorkelling Adventures in Britain  </h1>
          <p>Our new book out soon!</p>
          <p><a class="btn btn-default" href="#book">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/photos/shagging-crabs.jpg" class="d-block w-100 carousel-photo" alt="Underwater photo of crabs...umm...cuddling">

      <div class="container">
        <div class="carousel-caption carousel-caption-top">
          <h1>Learn more about British snorkelling</h1>
          <p>Find out more about the wonderful individuals and organisations that are helping us explore British snorkelling </p>
          <p><a class="btn btn-default" href="#contact">Learn more</a></p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
