.header {
  /* color: white; */

}

.main {
  perspective: 2px;
}

.feature-icon {
  height: 150px;
}
.sm-image {
  height: 35px;
}

.swt-background {
  background-color: #265B80;
}

.carousel-caption-top {
  top: 0;
  bottom: auto;
}

/* .carousel-item {
  height: 650px;
} */

.partner-logos {
  height: 100px;
}

.feature-photos {
  height: 400px;

}

.parallax-window {
  height: 600px;
}
.parallax {
  /* position: relative; */
  /* top: -1300px;
  height: 1400px; */
  /* z-index: -99; */
  /* background-image: url("../assets/photos/scorpionfish.jpg");
  background-size: cover; */
}

.marketing {
  position: relative;
  z-index:99;
}

.photos {
  position: relative;
  top: -2000px;
  height: 1000px;
}
