
<!-- <a id="home"></a> -->
<a id="#"></a>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../assets/photos/child-walking-beach-after-snorkelling-in-yorkshire-england-britain.jpg"
            class="d-none d-sm-block w-100 carousel-photo"
            alt="Child walking up beach after an wonderful experience snorkelling in Britain">
      <img src="../assets/photos/child-walking-beach-after-snorkelling-in-yorkshire-england-britain-sm.jpg"
            class="d-block d-sm-none w-100 carousel-photo"
            alt="Child walking up beach after an wonderful experience snorkelling in Britain">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome to Snorkelology</h1>
          <p>Discover the wonders of British snorkelling for all the family</p>
          <p><a class="btn btn-default" href="#about">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/photos/drone-shot-woman-snorkelling-in-yorkshire-britain.jpg"
          class="d-none d-sm-block w-100 carousel-photo"
          alt="Aerial photo of a woman snorkelling in British sea">
      <img src="../assets/photos/drone-shot-woman-snorkelling-in-yorkshire-britain-sm.jpg"
          class="d-block d-sm-none w-100 carousel-photo"
          alt="Aerial photo of a woman snorkelling in British sea">
      <div class="container">
        <div class="carousel-caption">
          <h1>Best Snorkelling Adventures in Britain  </h1>
          <p>Our new book out soon!</p>
          <p><a class="btn btn-default" href="#book">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/photos/crabs-cuddling-photographed-while-snorkelling-scotland-britain.jpg"
          class="d-none d-sm-block w-100 carousel-photo"
          alt="Underwater photo of crabs having a cuddle, an example of fabulous British marine life">
      <img src="../assets/photos/crabs-cuddling-photographed-while-snorkelling-scotland-britain-sm.jpg"
          class="d-block d-sm-none w-100 carousel-photo"
          alt="Underwater photo of crabs having a cuddle, an example of fabulous British marine life">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Learn more about British snorkelling</h1>
          <p>Keep up to date by reading our news articles</p>
          <p><a class="btn btn-default" href="#news">Learn more</a></p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
