.carousel-photo {
  /* max-height: 650px; */
  min-height: 240px;
}

.carousel-item {
  max-height: 80vh;
  overflow: hidden;
}


@media (max-width: 576px) {
  .carousel-caption-sm-top {
    top: 0;
    bottom: auto;
  }
}

.carousel-caption-top {
  top: 0;
  bottom: auto;
}

.carousel-caption {
  left: 0px;
  width: 100%;
  padding: 0px 15% 20px 15%;
  /* margin: 0px;
  padding: 0px; */
}

.carousel-caption-darkbg {
  background-color: rgba(0,0,0,0.5);
}
