
<div class="form-width mx-auto my-5">

  Select post type:
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" value="insta" id="btnradio1" autocomplete="off" checked  (click)="onRadio()">
    <label class="btn btn-outline-primary" for="btnradio1">Instagram Post</label>

    <input type="radio" class="btn-check" name="btnradio" value="text" id="btnradio2" autocomplete="off" (click)="onRadio()">
    <label class="btn btn-outline-primary" for="btnradio2">Text Post</label>
  </div>

  <div class="input-group my-2">
    <span class="input-group-text">Title</span>
    <input type="text" class="form-control" [(ngModel)]="formTitle" [ngClass]="{'invalid': invalidTitle()}" (input)="countTitleWords()">
    <div class="text-end w-100 small show-warning" [ngClass]="{'warning': invalidTitle()}">Words remaining: {{MAX_TITLE_WORDS - titleWordCount}}</div>
  </div>

  <div class="input-group my-2">
    <span class="input-group-text">Instagram link</span>
    <input type="text" aria-label="Date" class="form-control" [(ngModel)]="formInstalink" name="instaLink" id="instaLink">
  </div>
  <div class="w-100 small warning">text that will never show</div>


  <div class="input-group my-2">
    <span class="input-group-text">Text</span>
    <textarea rows="8" type="text" id="postContent" class="form-control" [(ngModel)]="formContent"
          [ngClass]="{'invalid': invalidContent()}" (input)="countContentWords()" disabled></textarea>
  </div>
  <div class="text-end w-100 small show-warning" [ngClass]="{'warning': invalidContent()}">Words remaining: {{MAX_CONTENT_WORDS - contentWordCount}}</div>


  <div class="input-group my-2">
    <span class="input-group-text">Override date</span>
    <input type="date" aria-label="Date" class="form-control" [(ngModel)]="formOverrideDate" name="date">
    <span class="input-group-text">Time</span>
    <input type="time" aria-label="Time" class="form-control" [(ngModel)]="formOverrideTime" name="time">
    <div class="w-100 small warning">text that will never show</div>
  </div>

  <div class="input-group my-2">
    <span class="input-group-text">User</span>
    <select class="form-select" id="inputGroupSelect01" [(ngModel)]="formPoster" name="typeSelector"  [ngClass]="{'invalid': invalidPoster()}">
      <option *ngFor="let type of formUserList" [value]="type">{{type}}</option>
    </select>
    <div class="text-end w-100 small warning" [ngClass]="{'show-warning': invalidPoster() }">Who is posting?</div>
  </div>

  <div class="w-50 mx-auto">
    <button class="m-2 btn-width btn btn-outline-secondary btn-block" type="button" (click)="onCancel()">Cancel</button>
    <button class="m-2 btn-width btn btn-primary btn-block" type="submit" (click)="onSave()">Save</button>
  </div>
</div>


