
<a id="partners"></a>

<div class="bg-white marketing m-0 w-100">

  <div class="container px-0 py-5">

    <h2 class="fw-normal p-3">Our friends and partners...</h2>

    <div class="d-flex justify-content-evenly flex-wrap">

      <div class="partner-card shadow rounded d-inline-block p-3 my-2 mx-1">
        <div class="partner-card-logo-container d-inline-flex justify-content-center w-100">
          <a href="https://wildthingspublishing.com/">
            <img src="../assets/logos/wild-things-publishing.jpg" class="d-block partner-card-logo-picture" alt="Wild Things Publishing Logo">
          </a>
        </div>
        Wild Things Publishing publish inspiring and beautiful guide books for explorers of all kinds.
      </div>


      <div class="partner-card shadow rounded d-inline-block p-3 my-2 mx-1">
        <div class="partner-card-logo-container d-inline-flex justify-content-center w-100">
          <a href="https://jenandsimbenson.co.uk/">
            <img src="../assets/logos/wild-running-jacket-cover.jpg" class="d-block partner-card-logo-picture" alt="Wild Running by Jen and Sim Benson">
          </a>
        </div>
        Jen and Sim write award-winning guide-books complimented with beautiful photography, and are super lovely people to boot!
      </div>

      <div class="partner-card shadow rounded d-inline-block p-3 my-2 mx-1">
        <div class="partner-card-logo-container d-inline-flex justify-content-center w-100">
          <a href="https://www.sealalliance.org/">
            <img src="../assets/logos/seal-alliance.png" class="d-block partner-card-logo-picture" alt="Seal Alliance Logo">
          </a>
        </div>
        The Seal Alliance are dedicated to protecting seals and their habitats - we are working together to promote responsible snorkelling.
      </div>

      <div class="partner-card shadow rounded d-inline-block p-3 my-2 mx-1">
        <div class="partner-card-logo-container d-inline-flex justify-content-center w-100">
          <a href="https://scottishwildlifetrust.org.uk/">
            <img src="../assets/logos/swt.png" class="d-block partner-card-logo-picture bg-scottish-wildlife-trust" alt="Scottoch Wildlife Trust Logo">
          </a>
        </div>
        The Scottish Wildlife Trust are also great believers in snorkelling as a fantasic way to explore our coastal waters.
      </div>

      <div class="partner-card shadow rounded d-inline-block p-3 my-2 mx-1">
        <div class="partner-card-logo-container d-inline-flex justify-content-center w-100">
          <a href="https://www.bsac.com/training/learn-to-snorkel/">
            <img src="../assets/logos/bsac-logo.png" class="d-block partner-logos" alt="British Sub Aqua Club Logo">
          </a>
        </div>
        The British Sub-Aqua Club (BSAC) offer training to suit all needs; a great place to start your snorkelling journey.
      </div>

      <!--
        For any further cards limit the number on mobile to prevent endless scroll
        Use d-none d-md-block
        https://stackoverflow.com/questions/14207109/hiding-elements-in-responsive-layout
       -->
    </div>

  </div>

</div>
