
.blog-card {
  width: 350px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.blog-card:hover {
  cursor: pointer;
}

.blog-card-picture-container {
  height: 200px;
  overflow: hidden;
}


/* .sm-share-image {
  height: 30px;
} */
