
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
</svg>

<div class="bg-white marketing w-100">

  <div class="container py-5">

    <h2 class="fw-normal">News</h2>

    <p class="lead">
      We periodically write short news articles to flex our writing muscles and give some details about recent snorkelling
      adventures.  Check back regularly for updates!
    </p>

    <div class="news-list-container d-flex d-inline-block">

<!-- NEWS ITEM -->
    <!-- <a href="news/snorkelling-wales-in-winter" aria-label="Read news article" class="h-100"> -->
      <div class="card news-card" (click)="nav.navigateTo('news/snorkelling-wales-in-winter')">

        <img src="../../assets/photos/woman-snorkelling-wales-britain-winter.jpg"
          class="card-img"
          alt="woman snorkelling in Wales in mid-winter">

        <h3 class="fw-normal my-3">
          Winter snorkelling
        </h3>
        <span class="muted">
          17th Dec 2022
        </span>
        <p class="my-3">
          Emma reflects on a recent research trip to West Wales for the book, and her experience of the wonderful
          world of winter snorkelling...
        </p>

      </div>

<!-- NEWS ITEM -->

      <div class="card news-card" (click)="nav.navigateTo('news/the-journey-so-far')">

        <img src="../../assets/photos/drone-view-of-snorkelling-reef-cornwall-england-britain.jpg"
          class="card-img"
          alt="aerial view of a cornish snorkelling reef britain">

          <h3 class="fw-normal my-3">
            The journey so far
          </h3>
          <span class="muted">
            26th Nov 2022
          </span>
          <p class="my-3">
            In our first news update, Emma gives the background to how Snorkelology came about and what we hope to achieve.  Dig in
            and as always we welcome your feedback!
          </p>

      </div>


    </div>
  </div>
</div>

