
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
</svg>

<div class="bg-white marketing w-100">

  <div class="container py-5">

    <h2 class="fw-normal">News Updates</h2>

    <div class="news-container d-flex d-inline-block">

<!-- NEWS ITEM -->
      <div class="news-item mx-0 my-4 d-flex flex-column">
        <div class="blog-card-picture-container d-inline-flex justify-content-center w-100 m-0 p-0">
          <a href="news/snorkelling-wales-in-winter" aria-label="Read news article" class="h-100">
            <img src="../../assets/photos/woman-snorkelling-wales-britain-winter.jpg" class="d-block h-100" alt="alt text">
          </a>
        </div>
        <div>
          <h3 class="fw-normal my-3">Winter snorkelling</h3>
          <span class="muted">17th Dec 2022</span>
          <p class="my-3">
            Emma reflects on a recent research trip to West Wales for the book, and her experience of the wonderful
            world of winter snorkelling...
          </p>
        </div>
        <a href="news/snorkelling-wales-in-winter" class="icon-link d-inline-flex align-items-center">
          Read More
          <svg class="bi chevron-nav" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

<!-- NEWS ITEM -->
      <div class="news-item m-4 d-flex flex-column">
        <div class="blog-card-picture-container d-inline-flex justify-content-center w-100 m-0 p-0">
          <a href="news/the-journey-so-far" aria-label="Read news article" class="h-100">
            <img src="../../assets/photos/drone-view-of-snorkelling-reef-cornwall-england-britain.jpg" class="d-block h-100" alt="aerial view of a cornish snorkelling reef britain">
          </a>
        </div>
        <div class="">
          <h3 class="fw-normal my-3">The journey so far</h3>
          <span class="muted">26th Nov 2022</span>
          <!-- <div class="my-2">
            <a href="https://twitter.com/intent/tweet?url=https://snorkelology.co.uk/news/the-journey-so-far&text=Check out this article from snorkelology: "
            class="twitter-share-button" data-show-count="false" >
              Tweet
            </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div> -->
          <p class="my-3">
            In our first news update, Emma gives the background to how Snorkelology came about and what we hope to achieve.  Dig in
            and as always we welcome your feedback!
          </p>
        </div>
        <a href="news/the-journey-so-far" class="icon-link d-inline-flex align-items-center">
          Read More
          <svg class="bi chevron-nav" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>


    </div>
  </div>
</div>

