
<footer>

  <div class="footer-container">

    <a class="footer-logo" (click)="navigate.to(images.img('youtube').href)" aria-label="Click to see our YouTube channel" >
      <img
        [ngSrc]="images.img('youtube').path"
        [alt]="images.img('youtube').altText"
        [width]="images.img('youtube').width"
        [height]="images.img('youtube').height"
      />
    </a>

    <a class="footer-logo" (click)="navigate.to(images.img('instagram').href)" aria-label="Click to see our instagram feed" >
      <img
        [ngSrc]="images.img('instagram').path"
        [alt]="images.img('instagram').altText"
        [width]="images.img('instagram').width"
        [height]="images.img('instagram').height"
      />
    </a>

    <a class="footer-logo" (click)="navigate.to(images.img('email').href)" aria-label="Click to send us an email" >
      <img
        [ngSrc]="images.img('email').path"
        [alt]="images.img('email').altText"
        [width]="images.img('email').width"
        [height]="images.img('email').height"
      />
    </a>

  </div>

  <div>

    <div class="footer-text">

      <div *ngIf="screen.widthDescriptor==='large'">
        &copy; Snorkelology 2022-{{fullYear}} &middot; All Rights Reserved  &middot;
        <a class="html-link" (click)="navigate.to('privacy-policy')" role="link">Privacy Policy</a> <br />
      </div>

      <div *ngIf="screen.widthDescriptor==='small'">
        &copy; Snorkelology 2022-{{fullYear}} <br />
        All Rights Reserved <br />
        <a class="html-link" (click)="navigate.to('privacy-policy')" role="link">Privacy Policy</a>
      </div>

    </div>


  </div>

</footer>
