
<footer #footer id="footer">

    <div class="footer-logos">

      <img *ngFor="let img of logos"
        [ngSrc]  = "img.url"
        [alt]    = "img.alt"
        [width]  = "img.width"
        [height] = "img.height"
        (click)="navigate.to(img.href)"
        aria-label="img.alt"
      />
      
    </div>

    <div class="footer-text">
      &copy; Snorkelology 2022-{{fullYear}} 
      <br *ngIf="screen.widthDescriptor === 'small'"/>
      <span *ngIf="screen.widthDescriptor === 'large'">&middot;</span>
      All Rights Reserved <br />
      <a class="html-link" (click)="navigate.to('privacy-policy')" role="link">Privacy Policy</a>
    </div>

  </footer>
