.footer-logo {
  max-height: 45px;
  max-width: 45px;
  margin: 5px;
}

footer {
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
    /* height: 150px; */
  display: flex;
  opacity: 0;
  flex-direction: column;
  width: 100%;
  /* border-top: 1px var(--border-colour) solid; */
  justify-content: center;
  background-color: var(--sn-colour);
  color: var(--text-colour-header);

  /* border-top: 2px white solid; */

  /* align-content: center; */
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-text {
  display: block;
  text-align: center;
  font-size: smaller;
}

@media (max-width: 767px) {
  .footer-wide {
    display: none;
  }
}
@media (min-width: 766px) {
  .footer-narrow {
    display: none;
  }
}



