

<div class="subscribe-background" id="subscribe" (click)="hide($event)">
  <div class="subscribe-container" >
    <div class="subscribe-logo">
      <img />
    </div>
    <form>
      <div>
        <label for="emailInput">Join our email list for book updates...</label>

        <div class="form-container">
          <input
          type="email"
          class="form-control"
          name="email"
          [ngClass]="{'form-control-danger': notValidEmail()}"
          id="emailInput"
          aria-describedby="emailHelp"
          [(ngModel)]="email"
          placeholder="Email address"
          required
        >
        <button class="subscribe-button" type="submit" (click)="hide($event)">Subscribe</button>
        </div>


        <div id="emailHelp" class=" small-text">
          We will never share your email with anyone else.<br />
          <span class="html-link small-text" href="privacy-policy">Privacy policy</span>
        </div>

      </div>
    </form>
</div>

