

<!------------------------------------------>
<!--    CONTENT                           -->
<!------------------------------------------>

<main>

  <!-- ------------------ -->
  <!-- Carousel section   -->
  <!-- ------------------ -->

  <div class="anchor" id="home">
    <app-carousel></app-carousel>
  </div>

  <!-- ------------------ -->
  <!-- About section      -->
  <!-- ------------------ -->

  <div class="anchor" id="about">
    <app-about></app-about>

    <div class="parallax-window" id="windowOne">
      <!-- Calculation for scale required to fit image after transformZ -->
      <!-- https://stackoverflow.com/questions/11313783/i-think-css3-transform-translatez-is-equal-to-scale-by-some-means -->
      <!-- scaleFactor = perspective / perspective + transformZ -->
      <!-- scaleFactor = 300 / (300 + -300) = 300/600 -->
      <!-- imgScaleRatio gets image to 1:1 without transformZ -->
      <div
        class="parallax-layer"
        [ngStyle]="{
          'height': images.img('scorpionfish').height+'px',
          'width': images.img('scorpionfish').width+'px',
          'transform': 'translateZ(-800px) scale( calc( '+images.imgScaleRatio('scorpionfish')+' * 1100 / 300))' }"
        >
          <img
            id="windowOneImage"
            class="parallax-layer"
            [ngSrc]="images.img('scorpionfish').path"
            [alt]="images.img('scorpionfish').altText"
            fill
          />
      </div>
    </div>

  </div>

  <!-- ----------------- -->
  <!-- Instagram section -->
  <!-- ----------------- -->

  <div class="anchor" id="feed" *ngIf="this.data.instaLoadSuccess">

    <app-feed></app-feed>

    <div class="parallax-window" id="windowTwo">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.img('cuddlingcrabs').height+'px',
          'width': images.img('cuddlingcrabs').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.imgScaleRatio('cuddlingcrabs')+' * 500 / 300))' }"
        >
          <img
            id="windowTwoImage"
            class="parallax-layer"
            [ngSrc]="images.img('cuddlingcrabs').path"
            [alt]="images.img('cuddlingcrabs').altText"
            fill
          />
      </div>
    </div>
  </div>

  <!-- ----------------- -->
  <!-- Book Section      -->
  <!-- ----------------- -->

  <div class="anchor" id="book">

    <app-book></app-book>

    <div class="parallax-window" id="windowThree">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.img('sittingchild').height+'px',
          'width': images.img('sittingchild').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.imgScaleRatio('sittingchild')+' * 500 / 300))' }"
        >
          <img
            id="windowThreeImage"
            class="parallax-layer"
            [ngSrc]="images.img('sittingchild').path"
            [alt]="images.img('sittingchild').altText"
            fill
          />
      </div>
    </div>

  </div>

  <!-- ----------------- -->
  <!-- FAQs Section      -->
  <!-- ----------------- -->

  <div class="anchor" id="faq">

    <app-faq></app-faq>

    <div class="parallax-window" id="windowFour">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.img('anemone').height+'px',
          'width': images.img('anemone').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.imgScaleRatio('anemone')+' * 500 / 300))' }"
        >
          <img
            id="windowFourImage"
            class="parallax-layer"
            [ngSrc]="images.img('anemone').path"
            [alt]="images.img('anemone').altText"
            fill
          />
      </div>
    </div>
  </div>

  <!-- ----------------- -->
  <!-- Partners Section  -->
  <!-- ----------------- -->

  <div class="anchor" id="partners">
    <app-partners></app-partners>
  </div>

</main>

