

<!------------------------------------------>
<!--    CONTENT                           -->
<!------------------------------------------>

<main>

  <!-- ------------------ -->
  <!-- Carousel section   -->
  <!-- ------------------ -->

  <div class="anchor" id="home">
    <app-slideshow></app-slideshow>
  </div>

  <!-- ------------------ -->
  <!-- About section      -->
  <!-- ------------------ -->

  <div class="anchor" id="about">
    <app-about></app-about>

    <div class="parallax-window" id="windowOne">
      <!-- Calculation for scale required to fit image after transformZ -->
      <!-- https://stackoverflow.com/questions/11313783/i-think-css3-transform-translatez-is-equal-to-scale-by-some-means -->
      <!-- scaleFactor = perspective / perspective + transformZ -->
      <!-- scaleFactor = 300 / (300 + -300) = 300/600 -->
      <!-- imgScaleRatio gets image to 1:1 without transformZ -->
      <div
        class="parallax-layer"
        [ngStyle]="{
          'height': images.parallaxImage('scorpionfish').height+'px',
          'width': images.parallaxImage('scorpionfish').width+'px',
          'transform': 'translateZ(-800px) scale( calc( '+images.parallaxImage('scorpionfish').scaleFactor+' * 1100 / 300))' }"
        >
          <img
            id="windowOneImage"
            class="parallax-layer"
            [ngSrc]="images.parallaxImage('scorpionfish').url"
            [alt]="images.parallaxImage('scorpionfish').alt"
            fill
          />
      </div>
    </div>

  </div>

  <!-- ----------------- -->
  <!-- Instagram section -->
  <!-- ----------------- -->

  <div class="anchor" id="explore">

    <app-explore></app-explore>

    <div class="parallax-window" id="windowTwo">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.parallaxImage('cuddlingcrabs').height+'px',
          'width': images.parallaxImage('cuddlingcrabs').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.parallaxImage('cuddlingcrabs').scaleFactor+' * 500/300))' }"
        >
          <img
            id="windowTwoImage"
            class="parallax-layer"
            [ngSrc]="images.parallaxImage('cuddlingcrabs').url"
            [alt]="images.parallaxImage('cuddlingcrabs').alt"
            fill
          />
      </div>
    </div>
  </div>

  <!-- ----------------- -->
  <!-- Book Section      -->
  <!-- ----------------- -->

  <div class="anchor" id="book">

    <app-book></app-book>
  </div>

    <div class="parallax-window" id="windowThree">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.parallaxImage('sittingchild').height+'px',
          'width': images.parallaxImage('sittingchild').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.parallaxImage('sittingchild').scaleFactor+' * 500 / 300))' }"
        >
          <img
            id="windowThreeImage"
            class="parallax-layer"
            [ngSrc]="images.parallaxImage('sittingchild').url"
            [alt]="images.parallaxImage('sittingchild').alt"
            fill
          />
      </div>
    </div>

  <!-- ----------------- -->
  <!-- FAQs Section      -->
  <!-- ----------------- -->

  <div class="anchor" id="faqs">

    <app-faq></app-faq>
  </div>

    <div class="parallax-window" id="windowFour">
      <div class="parallax-layer"
        [ngStyle]="{
          'height': images.parallaxImage('anemone').height+'px',
          'width': images.parallaxImage('anemone').width+'px',
          'transform': 'translateZ(-200px) scale( calc( '+images.parallaxImage('anemone').scaleFactor+' * 500 / 300))' }"
        >
          <img
            id="windowFourImage"
            class="parallax-layer"
            [ngSrc]="images.parallaxImage('anemone').url"
            [alt]="images.parallaxImage('anemone').alt"
            fill
          />
      </div>
    </div>


  <!-- ----------------- -->
  <!-- Partners Section  -->
  <!-- ----------------- -->

  <div class="anchor" id="friends">
    <app-partners></app-partners>
  </div>

</main>

