<div *ngIf="instas.length > 0" class="ckbtn-group">
  <span>Filter:</span>
    <div class="ckbtn">
      <input id="ckbtn-insta" type="checkbox" checked (click)="onFilterClick('insta')">
      <label for="ckbtn-insta">Instagram</label>
    </div>
    <div class="ckbtn">
      <input id="ckbtn-article" type="checkbox" checked (click)="onFilterClick('article')">
      <label for="ckbtn-article">Article</label>
  </div>
</div>

<div class="insta-feed">

    <app-ui-card *ngFor="let card of cards"
      imageURL="{{card.media_url}}"
      link="{{card.permalink }}"
      text="{{card.caption}}"
      header="{{card.header}}"
      category="{{card.category}}"
      timestamp="{{card.timestamp}}"
    >
  </app-ui-card>

</div>
  <!-- link="{{let x = (typeof y === 'undefined') ? def_val : y;card.href}}" -->
  <!-- image="{{card.media_url}}"
  text="{{card.caption}}"
  header="{{card.header}}"
  category="{{card.category}}"
  timestamp="{{card.timestamp}}" -->
