

.insta-feed {
  scroll-margin-top: var(--navbar-height);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  /* grid-template-rows: repeat(4, minmax(1200px, 1200px)); */
  grid-template-rows: repeat(4, auto);
  /* overflow: hidden; */
  justify-content: space-around;
  /* border: 1px red solid; */
}

.insta-feed-small {
  grid-template-rows: auto auto auto auto;
}

.ckbtn-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 1.4rem;
  /* border: 1px red solid; */
}

.ckbtn {
  border-radius: 15px;
  border:1px solid var(--border-colour);
  overflow: hidden;
  margin-inline: 0.2rem;
  width: 90px;
  font-size: smaller;
  position: relative;
}

.ckbtn > input {
  display: none;
}

.ckbtn label {
  text-align:center;
  background-color:#DDDDDD;
  display:block;
  cursor: pointer;
  height: 100%;
}

.insta:checked + label {
  background-color:green;
  color:#fff;
}

.article:checked + label {
  background-color:navy;
  color:#fff;
}
