
<div *ngIf="instas.length > 0" class="ckbtn-group">
  <span>Filter:</span>
      <div class="ckbtn insta" [ngClass]="ckbtns['insta'].clicked ? 'clicked' : '' " (click)="onFilterClick('insta')">
        <label for="ckbtnInsta">Instagram</label>
      </div>
      <div class="ckbtn article" [ngClass]="ckbtns['article'].clicked ? 'clicked' : '' "  (click)="onFilterClick('article')"> 
        <label for="ckbtnArticle">Article</label>
      </div>
</div>

<div class="insta-feed">

  <app-ui-card *ngFor="let card of cards"
    imageURL="{{card.media_url}}"
    link="{{card.permalink }}"
    text="{{card.caption}}"
    header="{{card.header}}"
    category="{{card.category}}"
    timestamp="{{card.timestamp}}"
  ></app-ui-card>

</div>

