
:root {
  --header-height: 75px;
}


.html-link {
  color: #009AF7;
  /* font-weight: 550; */
}
.html-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}



/* create space for header bar */
body {
  padding-top: var(--header-height);
  color: #566F70;
  line-height: 1.7;
}


/* when div is used as anchor tag, apply a scroll margin equal to the header height */
.anchor {
  scroll-margin-top: var(--header-height);
}

.blockquote {
  border-left: 2px #566F70 solid !important;
  margin: 0em 0em 0em 0em !important;   /* margin is reqd if display is not inline-block, in which case border with p collapses*/
  padding: 0em 1em 0em 1em !important;
  display: flex;
  /* border: 1px black dotted; */
}

p.lead {
  margin: 1.5em 0em 1.5em 0em !important;
  padding: 0em !important;
  /* display: inline-block; */

}

.partner-card {
  width: 225px;
  height: 320px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1.5em 1.5em 1.5em 1em;
  padding: 0em 0em 0em 0em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  border: none;
}
.card-img {
  border-radius: 0px;
  border: 0px;
  overflow: hidden;
  margin: 1em 0em 1em 0em;
  padding: 0em 0em 0em 0em;
  /* width: 100%; */
  /* display: inline-flex;
  justify-content: center; */
}

.partner-card-img {
  /* border: 1px red solid; */
  object-fit: contain;
  max-height: 100px;

  /* max-width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
  /* aspect-ratio: auto; */
}
.card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 6px 12px rgba(0,0,0,0.2);
  cursor: pointer;
}


.card-content {
  padding: 0em 1em 0em 1em;
}
/* dont allow text
/* this doesnt work with media queries: https://bholmes.dev/blog/alternative-to-css-variable-media-queries/ */
/* left here for quick reference of bootstrap breakpoints tho: https://getbootstrap.com/docs/5.0/layout/breakpoints/*/
/* * {
  --bootstrap-breakpoint-sm: 576;
  --bootstrap-breakpoint-md: 768;
  --bootstrap-breakpoint-lg: 992;
  --bootstrap-breakpoint-xl: 1200;
  --bootstrap-breakpoint-xxl: 1400;
} */

.btn-default {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid white;
  border-radius: 40px;
  background: rgba(255,255,255,0.25);;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(255,255,255,0.75);
  border: 1px solid white
}

/* .parallax-window {
  height: 80vh;
} */



/* STATIC BACKGROUND PICS */

.static-img {
  background-size: cover;
  background-position-x: center;
}

/* @media (orientation: landscape) { .static-img { height: 80vh; background-position-y: var(--header-height);} } */
@media (orientation: landscape) { .static-img { height: 80vh; } }
/* @media (orientation: portrait)  { .static-img { height: 60vh; background-position-y: var(--header-height); } } */
@media (orientation: portrait)  { .static-img { height: 60vh; } }

/* attempt to fix safari ios fixed background issue  */
/* https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios */
@supports ( -webkit-touch-callout : none)     { .static-img { background-attachment: scroll; } }
@supports not ( -webkit-touch-callout : none) { .static-img { background-attachment: fixed;  } }


/* ----------------------------------------------------- */
@media (min-width: 768px)  {
  .static-img-scorpion {
    background-image: url("src/assets/photos/static/scorpionfish-photographed-while-snorkelling-in-cornwall.webp");
    background-position-y: var(--header-height);
  }
}

@media (max-width: 768px) or (pointer: coarse) {
  .static-img-scorpion {
    background-image: url("src/assets/photos/static/scorpionfish-photographed-while-snorkelling-in-cornwall-sm.webp");
    background-position-y: center;
  }
}
/* ----------------------------------------------------- */

@media (min-width: 768px) {
  .static-img-crabs {
    background-image: url("src/assets/photos/static/cudding-crabs-snorkelling-scotland-britain.webp");
    background-position-y: var(--header-height);
  }
}

@media (max-width: 768px) or (pointer: coarse) {
  .static-img-crabs {
    background-image: url("src/assets/photos/static/cudding-crabs-snorkelling-scotland-britain-sm.webp");
    background-position-y: center;
  }
}
/* ----------------------------------------------------- */

@media (min-width: 768px) {
  .static-img-anenome {
    background-image: url("src/assets/photos/static/snakelocks-anenome-in-photographed-in-scotland.webp");
    background-position-y: var(--header-height);
  }
}

@media (max-width: 768px) {
  .static-img-anenome {
    background-image: url("src/assets/photos/static/snakelocks-anenome-in-photographed-in-scotland-sm.webp");
    background-position-y: center;
  }
}

/* ----------------------------------------------------- */

@media (min-width: 768px) {
  .static-img-sitting {
    background-image: url("src/assets/photos/static/child-in-snorkelling-gear-scotland.webp");
    background-position-y: var(--header-height);
  }
}

@media (max-width: 768px) {
  .static-img-sitting {
    background-image: url("src/assets/photos/static/child-in-snorkelling-gear-scotland-sm.webp");
    background-position-y: center;
  }
}
