
:root {
  --navbar-height: 100px;
  --scaleRatioImg: 1;
  --scaleRatioWindow: 1;
}

/* ===================================================
                  Global styling
 ===================================================*/

body {
  color: #566F70;
  line-height: 1.7;
}

/* create space for header bar */
.header-spacer {
  padding-top: var(--navbar-height);
  /* border: 1px green dotted; */
}

html {
  scroll-behavior: smooth !important;
}
body, html {
  overflow-y: hidden;
}

.html-link {
  color: #009AF7;
}

.html-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.anchor {
  scroll-margin-top: var(--navbar-height);
}

.blockquote {
  border-left: 2px #566F70 solid !important;
/* margin is reqd if display is not inline-block, in which case border with p collapses*/
  margin: 0em 0em 0em 0em !important;
  padding: 0em 1em 0em 1em !important;
  display: flex;
}

p.lead {
  margin: 1.5em 0em 1.5em 0em !important;
  padding: 0em !important;
}

/* ===================================================
                  Feed padding
 to replicate bootstrap container padding outside of container
 ===================================================*/

@media (max-width: 576px) {
  :root{ --container-width: 100vw; }
}
@media (min-width: 576px) and (max-width: 767px) {
  :root{ --container-width: 540px; }
}
@media (min-width: 768px) and (max-width: 991px) {
  :root{ --container-width: 720px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  :root{ --container-width: 960px; }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  :root{ --container-width: 1140px; }
}
@media (min-width: 1400px) {
  :root{ --container-width: 1140px; }
}

.feed-padding {
  padding-inline: calc( (100vw - var(--container-width) ) / 2 );
}

/* ===================================================
                  Parallax Classes
 note that all classes beneath parallax-mater need 'transform-style: preserve-3d'
 ===================================================*/

/* https://stackoverflow.com/questions/45414515/apply-class-to-every-routed-component-in-angular */
router-outlet + * {
  position: relative;
  transform-style: preserve-3d;
}

.scrolly {
  height: 100vh;
  /* border: 2px red dashed; */
  /* scrollbar-gutter: stable; */
  overflow: hidden;
}

.parallax-master {
  /* height: 100vh; */
  height: 100vh;
  /* height: 300vh; */
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 300px;
  perspective-origin: 50% 50%;
  /* border: 2px blue dashed; */
}

.parallax-intermediate {
  position: relative;
  transform-style: preserve-3d;
}
/* <div [ngStyle]="{'height': 'calc( 1px * '+this.image.windowScaleRatio+'* 0.8)'}" class="parallax-window"> */

@media (max-width: 767px) {
  :root{
    --img-width: 400;
    --img-height: 533;
    --aspect-ratio: calc( var(--img-width) / var(--img-height));
  }
}
@media (min-width: 768px) {
  :root{
    --img-width: 2500;
    --img-height: 1350;
    --aspect-ratio: calc( var(--img-height) / var(--img-width));
  }
}

.parallax-window {
/* Height of the window is calculated by javascript in component main.component.ts */
/* 0.85 factor sizes the window just smaller than the image height to allow for parallax effect */
  height: calc( 100vw * var(--aspect-ratio) * 0.85 );
  position: relative;
  transform-style: preserve-3d;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red;; */
}

.parallax-layer {
  position: absolute;
  z-index: 99;
/* Width of the image is calculated by javascript in component main.component.ts */
/* transform: translateZ(-200px) scale( calc( var(--scaleRatioImg) * 500 / 300)); */
/* NB this is now done in the component through NgStyle */
  transform-style: preserve-3d;
}

/* ===================================================
                  Partner Cards
 ===================================================*/

.partner-card {
  width: 225px;
  height: 320px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1.5em 1.5em 1.5em 1em;
  padding: 0em 0em 0em 0em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  border: none;
}
.card-img {
  border-radius: 0px;
  border: 0px;
  overflow: hidden;
  margin: 1em 0em 1em 0em;
  padding: 0em 0em 0em 0em;
}

.partner-card-img {
  object-fit: contain;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 6px 12px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card-content {
  padding: 0em 1em 0em 1em;
}

/* ===================================================
                  Carousel buttons
 ===================================================*/

.btn-default {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid white;
  border-radius: 40px;
  background: rgba(255,255,255,0.25);;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(255,255,255,0.75);
  border: 1px solid white
}
