
:root {
  --navbar-height: 60px;
  --scaleRatioImg: 1;
  --scaleRatioWindow: 1;
  --line-height: 1.7;
  --insta-box-lines: 4;

  --text-colour: #566F70;
  --link-colour: #009AF7;
  --border-colour: #DEE2E6;

  --box-shadow-no-hover: 0 3px 6px lightgrey;
  --box-shadow-hover: 0 6px 12px lightgrey;
  --box-shadow-bottom-only: 0 3px 6px -6px grey, 0 3px 6px -6px grey;

}
/*
@media (max-width: 767px) {
  :root{  --navbar-height: 60px; }
}
@media (min-width: 768px) {
  :root{  --navbar-height: 60px; }
} */

.modal-backdrop {
  z-index: 1040 !important;
  display: none;
}
.modal-content {
  margin: 2px auto;
  z-index: 9999 !important;
}

.adsense-right {
  width: 250px;
  background-color: greenyellow;
}

.adsense-content {
  margin: 0px;
  width: 100%;
  height: 100px;
  background-color: greenyellow;
}

/* NEWS ARTICLE CONTENT IMAGES */

/* .content-image-right {
  width: 50%;
  padding-bottom: 50%;
  margin: 0em 0em 1.5em 1.5em;
  display: block;
  float: right;
}

.content-image-left {
  width: 33vw;
  min-height: 250px;
  margin: 0em 1.5em 1.5em 0em;
  display: block;
  float: left;
}

@media (max-width: 768px) {

  .news-image-right,
  .news-image-left {
    width: 100%;
    padding: 0em;
    display: inline-block;
  }

} */

/* ===================================================
                  Global styling
 ===================================================*/

 * {
  transform-style: preserve-3d !important;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


html {
  overflow: hidden;
  font-weight: 300;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* font-size is set in media queries */
}

body {
  color: var(--text-colour);
  line-height: var(--line-height);
  overflow: hidden;
  width: 100vw;
  /* border: 1px red solid; */
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
  font-weight: 400;
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

p {
  margin: 1rem 0 1rem 0;
}

/* a:not([href]):not([class]),  */

.html-link {
  text-decoration: none;
  color: var(--link-colour);
}

/* a:not([href]):not([class]):hover,  */
.html-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--link-colour);
}

.anchor {
  scroll-margin-top: var(--navbar-height);
}

.blockquote {
  border-left: 2px #566F70 solid;
  margin: 0 0 0 0;
  padding: 0em 1rem 0em 1rem;
  font-weight: 400;
}

.dynamic-container {
  /* width: var(--container-width); */
  /* width: 100vw; */
  background-color: white;
  padding-inline: calc( (100vw - var(--container-width) ) / 2 );
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}


.feed-padding {
  padding-inline: calc( (100vw - var(--container-width) ) / 2 );
}

/* ===================================================
                  Feed padding
 to replicate bootstrap container padding outside of container
 ===================================================*/

@media (max-width: 575px) {
  /* .dynamic-container { width: calc(100vw - 20px) } */
  :root{ --container-width: calc(100vw - 20px); }
  html {font-size: 14px;}
  .parallax-window{ height: 70vh; }
  .carousel-img-container{ height: 70vh; }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* .dynamic-container { width: 540px } */
  html {font-size: 14px;}
  :root{ --container-width: 540px; }
  .parallax-window { height: 50vh; }
  .carousel-img-container{ height: 50vh; }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* .dynamic-container { width: 720px } */
  html {font-size: 16px;}
  :root{ --container-width: 720px; }
  .parallax-window { height: 70vh; }
  .carousel-img-container{ height: 70vh; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* .dynamic-container { width: 992px } */
  html {font-size: 16px;}
  :root{ --container-width: 960px; }
  .parallax-window { height: 70vh; }
  .carousel-img-container{ height: 70vh; }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  /* .dynamic-container { width: 1140px } */
  html {font-size: 16px;}
  :root{ --container-width: 1140px; }
  .parallax-window { height: 70vh; }
  .carousel-img-container{ height: 70vh; }
}
@media (min-width: 1400px) {
  html {font-size: 16px;}
  :root{ --container-width: 1320px; }
  .parallax-window { height: 80vh; }
  .carousel-img-container{ height: 80vh; }
}



/* ===================================================
                  Parallax Classes
 note that all classes beneath parallax-mater need 'transform-style: preserve-3d'
 ===================================================*/



/* https://stackoverflow.com/questions/45414515/apply-class-to-every-routed-component-in-angular */
router-outlet + * {
  /* transform-style: preserve-3d; */
  position: relative;
}


.parallax {
  perspective: 300px;
  perspective-origin: 50% 50%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  /* border: blue 1px dotted; */
}

.parallax-window {
/* height is determine above, in media qeuries */
  position: relative;
  /* transform-style: preserve-3d; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 4; */
  /* z-index: 9999; */

  z-index: -1;
}

.parallax-layer {
  position: absolute;
  /* transform-style: preserve-3d !important; */
/* Width of the image is calculated by javascript in component main.component.ts */
/* transform: translateZ(-200px) scale( calc( var(--scaleRatioImg) * 500 / 300)); */
/* NB this is now done in the component through NgStyle */
  visibility: hidden;
  z-index: -1;

}

/* ===================================================
                  Carousel buttons
 ===================================================*/

.btn-default {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  /* line-height: 15px; */
  border: 1px solid white;
  border-radius: 40px;
  background: rgba(255,255,255,0.25);
  transition: all 0.3s ease-in-out;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(255,255,255,0.75);
  border: 1px solid white
}
