
<a id="faq"></a>

<div class="bg-white marketing w-100">

  <div class="container px-5 py-5">

    <h2 class="fw-normal">Let's bust some myths ...</h2>

    <div class="accordion accordion-flush" id="accordion">

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q1-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q1-collapse" aria-expanded="false" aria-controls="Q1-collapse">
            <span class="lead">
              Isn't it too cold to snorkel in Britain?
            </span>
          </button>
        </h2>
        <div id="Q1-collapse" class="accordion-collapse collapse" aria-labelledby="Q1-heading" data-bs-parent="#accordion">
          <div class="accordion-body mx-3">
            <span class="lead">
              Let's face facts: we don't live in the tropics.  But the good news is that the water temperature can reach a toasy 20&deg;C in
              the summer months - and this is the sort of temperature that some can tolerate without a wetsuit.
              However, away from the summer, sea temperatures can get much colder and you will probably need a wetsuit
              to protect you from the elements if you want to be a year-round snorkeller. The amount of neoprene you need tends to depend
              on your own physiology and how long you intend to stay in the water.
            </span>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q3-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q3-collapse" aria-expanded="false" aria-controls="Q3-collapse">
            <span class="lead">
              Is there anything to see in British waters?
            </span>
          </button>
        </h2>
        <div id="Q3-collapse" class="accordion-collapse collapse" aria-labelledby="Q3-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              We have been diving, snorkelling and swimming around Britain for 30 years, and the emphatic response is YES!  British
              waters are teeming with marine life.  We have large mammals like seals and dolphins, large fish like sunfish and wrasse,
              along with a wealth of smaller critters (our favourite is the Tompot Blenny!)  You do have to look a bit harder than on
              a tropic reef, but that game of hide-and-seek is part of the enjoyment.  It doesn't take long before you learn where to find
              your favourites and the reward is enormous!
            </p>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q2-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q2-collapse" aria-expanded="false" aria-controls="Q2-collapse">
            <span class="lead">
              Is snorkelling in Britain safe?
            </span>
          </button>
        </h2>
        <div id="Q2-collapse" class="accordion-collapse collapse" aria-labelledby="Q2-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              Snorkelling, like any outdoor activity, comes with risks - that's part of the reason for doing it.  But there are many
              common-sense things we can do to enjoy the marine enviornment safely, but number one on our list will always be: <i> never
              snorkel alone</i>.  It's so important that you have someone to look out for you, even if they stay on the shore.  Be aware
              of your knowledge and experience level and seek advice from locals/experts as necessary.
            </p>


          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q4-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q4-collapse" aria-expanded="false" aria-controls="Q4-collapse">
            <span class="lead">
              Where in Britain should I snorkel?
            </span>
          </button>
        </h2>
        <div id="Q4-collapse" class="accordion-collapse collapse" aria-labelledby="Q4-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              Britain's coastline is rich and diverse, and you can find marine life almost anywhere.  The most abundent locations though
              are those with rocky seabed with healthy currents: enough to bring nutrients but not too strong that fauna cannot hold on.
              Rocky areas are a great place to find marine life as it provides a perfect habitat for all kinds of critters - especially
              when those rocks are covered with seawed (often kelp).  Anywhere you can see rocks or kelp from the surface is likely to
              be a good snorkel site, just make sure you check out the tides and currents before you pop in...
            </p>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
