
<a id="faq"></a>

<div class="bg-white marketing w-100">

  <div class="container px-5 py-5">

    <h2 class="fw-normal">Let's settle some questions...</h2>

    <div class="accordion accordion-flush" id="accordion">

      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>       -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q1-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q1-collapse" aria-expanded="false" aria-controls="Q1-collapse">
            <span class="lead">
              Isn't it too cold to snorkel in Britain?
            </span>
          </button>
        </h2>
        <div id="Q1-collapse" class="accordion-collapse collapse" aria-labelledby="Q1-heading" data-bs-parent="#accordion">
          <div class="accordion-body mx-3">
            <span class="lead">
              Let's face facts, we all know that the temperature of the seas around Britain can be cold, but the good news is that
              it can reach a toasy 20&deg;C in the summer months - and this is the sort of temperature that some can tolerate without
              a wetsuit.  However, away from the summer, sea temperatures can get much colder and you will definitaly need a wetsuit
              to protect you from the elements if you want to be a year-round snorkeller...
            </span>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q2-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q2-collapse" aria-expanded="false" aria-controls="Q2-collapse">
            <span class="lead">
              Is snorkelling in Britain safe?
            </span>
          </button>
        </h2>
        <div id="Q2-collapse" class="accordion-collapse collapse" aria-labelledby="Q2-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              Snorkelling, like any outdoor activity, comes with risks - that's part of the reason for doing it.  But there are many
              common-sense things we can do to enjoy the marine enviornment safely, but number one on our list will always be:
              It's so important that you have someone to look out for you, even if they stay on the shore.
            </p>


          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q3-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q3-collapse" aria-expanded="false" aria-controls="Q3-collapse">
            <span class="lead">
              What will I see snorkelling in Britain?
            </span>
          </button>
        </h2>
        <div id="Q3-collapse" class="accordion-collapse collapse" aria-labelledby="Q3-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              There is so much to see underwater that describing it here could never do it justice.  And you won't see everything every time
              you go in the water - what you see can be about selecting the right site at the right time, along with a liberal helping of luck!
              That said, the marine environment around our coasts are internationally recognised by marine biologists for their diversity, and
              our advice is: <i>Never go anywhere without your mask and snorkel</i> ... you never know what waiting for you!
            </p>


          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="Q4-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q4-collapse" aria-expanded="false" aria-controls="Q4-collapse">
            <span class="lead">
              Aren't the waters around Britain pulluted?
            </span>
          </button>
        </h2>
        <div id="Q4-collapse" class="accordion-collapse collapse" aria-labelledby="Q4-header" data-bs-parent="#accordion">
          <div class="accordion-body">

            <p class="lead px-3">
              No ... and, Yes.  We have been diving and snorkelling for over 20 years and can honestly
            </p>


          </div>
        </div>
      </div>

    </div>

<!--
    <h4 class="fw-normal pt-5 text-center">Is snorkelling in Britain cold?</h4>
    <p></p>
    <p class="lead">
      This is the most common question we get asked and of course the answer is:
    </p>
    <div class="d-flex justify-content-center">
      <blockquote class="blockquote m-4 p-3 border-top border-bottom d-inline-block">
        <i>It can be cold particularly outside of the summer months, but don't let that put you off!</i>
      </blockquote>
    </div>
    <p class="lead">
      The marine environment around our British and UK coastline is so special it would be a shame to let that put us off,
      and there are many ways to enjoy lessen the impact of the cold water.
    </p>

    <h3 class="fw-normal pt-5">Is snorkelling safe?</h3>
    <p></p>
    <p class="lead">
      Snorkelling, like any outdoor activity, comes with risks - that's part of the reason for doing it.  But there are many
      common-sense things we can do to enjoy the marine enviornment safely, but number one on our list will always be:
    </p>
    <div class="d-flex justify-content-center">
      <blockquote class="blockquote m-4 p-3 border-top border-bottom d-inline-block">
        <i>Never snorkel alone</i>
      </blockquote>
    </div>
    <p class="lead">
      It's so important that you have someone to look out for you, even if they stay on the shore.
    </p>

    <h3 class="fw-normal pt-5">What can I see?</h3>
    <p></p>
    <p class="lead">
      There is so much to see underwater that describing it here could never do it justice.  Any you won't see everything every time
      you go in the water - snorkelling is about selecting the right site at the right time, along with a liberal helping of luck!
    </p>
    <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
      Check out our social media links at the bottom of the page to see our underwater photos
    </i></blockquote>
    <p class="lead">
      It's so important that you have someone to look out for you, even if they stay on the shore.
    </p>

    <h3 class="fw-normal">Is the water polluted?</h3>
    <p></p>
    <p class="lead">
      Snorkelling, like any outdoor activity, comes with risks - if it didn't there woul dbe no adventure!  But there are many
      common-sense ways we can minimise the risk and enjoy the marine enviornment safely; but number one on our list is:
    </p>
    <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
      Check out our social media links at the bottom of the page to get a sense of what you can see
    </i></blockquote>
    <p class="lead">
      It's so important that you have someone to look out for you, even if they stay on the shore.
    </p>

    <h3 class="fw-normal">How can I minimise my impact on the environment?</h3>
    <p></p>
    <p class="lead">
      Snorkelling, like any outdoor activity, comes with risks - if it didn't there woul dbe no adventure!  But there are many
      common-sense ways we can minimise the risk and enjoy the marine enviornment safely; but number one on our list is:
    </p>
    <blockquote class="blockquote m-4 p-3 border-top border-bottom"><i>
      Check out our social media links at the bottom of the page to get a sense of what you can see
    </i></blockquote>
    <p class="lead">
      It's so important that you have someone to look out for you, even if they stay on the shore.
    </p> -->
  </div>
</div>
