

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="carousel-img-container">
        <img
          class="carousel-img"
          ngSrc="../../../assets/photos/carousel/child-walking-beach-after-snorkelling-in-yorkshire-england-britain.webp"
          alt="photo showing child walking up a beach holding snorkelling gear with blue-green sea behind"
          fill
          priority/>
      </div>

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome to Snorkelology</h1>
          <p>Discover the wonders of British snorkelling for all the family</p>
          <p><a class="btn btn-default" href="#about">About Snorkelology</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="carousel-img-container">
        <img
          class="carousel-img"
          ngSrc="../../../assets/photos/carousel/drone-photo-woman-snorkelling-chesil-cove.webp"
          alt="photo showing drone view of woman snorkelling in Chesil Cove, Dorset, with wonderful visibility"
          fill />
      </div>

      <div class="container">
        <div class="carousel-caption">
          <h1>Snorkelling in Britain  </h1>
          <p>Our new book out soon!</p>
          <p><a class="btn btn-default" href="#book">Learn About Our Book</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="carousel-img-container">
        <img
          class="carousel-img w-100 h-100"
          ngSrc="../../../assets/photos/carousel/children-rock-pool-snorkelling-in-cornwall-britain.webp"
          alt="photo showing children pointing at marine life while snrokelling in a rock pool"
          fill />
      </div>

      <div class="carousel-caption carousel-caption-darkbg">
        <h1>Learn more about British snorkelling</h1>
        <p>Check our our feed to keep up to date...</p>
        <p><a class="btn btn-default" href="#feed">Catch up with the latest happenings</a></p>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
