
.carousel-item {
  height: auto;
  max-height: 80vh;
  overflow: hidden;

}


@media (max-width: 576px) {
  .carousel-caption-sm-top {
    top: 0;
    bottom: auto;
  }
}

.carousel-caption-top {
  top: 0;
  bottom: auto;
}

.carousel-caption {
  left: 0px;
  width: 100%;
  padding: 0px 15% 20px 15%;
  /* margin: 0px;
  padding: 0px; */
}

.carousel-caption-darkbg {
  background-color: rgba(0,0,0,0.5);
}

.carousel-img-container {
  width: 100%;
  position: relative;
  /* height is controlled in the media queries in styles.css */
  /* min-height: 600px;
  max-height: 800px; */
}

.carousel-img {
  /* position: fixed; */
  object-fit: cover;
  object-position: center;
  /* position: relative; */

}
