
<div class="slideshow-container">
  <div class="slideshow" id="slideshow">
    <div class="slide" id="slide1">
      <img
        [ngSrc]="images.img('carousel-child').path"
        [alt]="images.img('carousel-child').altText"
        priority
        fill
      />
    </div>
    <div class="slide" id="slide2">
      <img
        [ngSrc]="images.img('carousel-drone').path"
        [alt]="images.img('carousel-drone').altText"
        priority
        fill
      />
    </div>
    <div class="slide" id="slide3">
      <img
        [ngSrc]="images.img('carousel-kids').path"
        [alt]="images.img('carousel-kids').altText"
        priority
        fill
        />
    </div>
    <div class="slide" id="slide4">
      <img
        [ngSrc]="images.img('carousel-child').path"
        [alt]="images.img('carousel-child').altText"
        priority
        fill
      />
    </div>
  </div>

  <div class="overlay" id="overlay">
    <svg class="arrow left" viewBox="-20 -30 40 60" height="40px" width="20px" opacity="0.5" (click)="onClick(false)">
      <animate attributeName="opacity" from="0.5" to="1" dur="0.25s" begin="mouseover" fill="freeze"></animate>
      <animate attributeName="opacity" from="1" to="0.5" dur="0.25s" begin="mouseout" fill="freeze"></animate>
      <line x1="10" y1="-20" x2="-10" y2="0" stroke="white" stroke-width="4" opacity="1" stroke-linecap="round" pointer-events="none" />
      <line x1="-10" y1="0" x2="10" y2="20" stroke="white" stroke-width="4" opacity="1" stroke-linecap="round" pointer-events="none" />
    </svg>

    <svg class="arrow right" viewBox="-20 -30 40 60" height="40px" width="20px" opacity="0.5" (click)="onClick(true)">
      <animate attributeName="opacity" from="0.5" to="1" dur="0.25s" begin="mouseover" fill="freeze"></animate>
      <animate attributeName="opacity" from="1" to="0.5" dur="0.25s" begin="mouseout" fill="freeze"></animate>
      <line x1="-10" y1="-20" x2="10" y2="0" stroke="white" stroke-width="4" opacity="1" stroke-linecap="round" pointer-events="none" />
      <line x1="10" y1="0" x2="-10" y2="20" stroke="white" stroke-width="4" opacity="1" stroke-linecap="round" pointer-events="none" />
    </svg>
  </div>



    <!-- <div class="overlay">
      <button class="slideshow-btn-left">
        <svg class="arrow" viewBox="-15 -25 30 50" height="40px" width="20px">
          <rect x1="-10" y1="-20" width="20" height="40" fill="black" />
          <line x1="10" y1="-20" x2="-10" y2="0" stroke="black" stroke-width="6" opacity="1" stroke-linecap="round" pointer-events="none" />
          <line x1="-10" y1="0" x2="10" y2="20" stroke=var(--text-colour) stroke-width="6" opacity="1" stroke-linecap="round" pointer-events="none" />
        </svg>
      </button>
      <button class="slideshow-btn-right">      </button>
    </div> -->

</div>


<!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner bg-white">

    <div class="carousel-item active">

      <div class="carousel-img-container">
        <img
          class="carousel-img"
          [ngSrc]="images.img('carousel-child').path"
          [alt]="images.img('carousel-child').altText"
          priority
          fill
        />
      </div>

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome to Snorkelology</h1>
          <p>Discover the wonders of British snorkelling for all the family</p>
          <div class="btn btn-default" (click)="navigate.scrollTo('about')">About Snorkelology</div>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="carousel-img-container">
        <img
          class="carousel-img"
          [ngSrc]="images.img('carousel-drone').path"
          [alt]="images.img('carousel-drone').altText"
          fill
        />
      </div>

      <div class="container">
        <div class="carousel-caption">
          <h1>Snorkelling in Britain  </h1>
          <p>Our new book out soon!</p>
          <div class="btn btn-default" (click)="navigate.scrollTo('book')">Learn About Our Book</div>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="carousel-img-container">
        <img
          class="carousel-img"
          [ngSrc]="images.img('carousel-kids').path"
          [alt]="images.img('carousel-kids').altText"
          fill
        />
      </div>

      <div class="carousel-caption carousel-caption-darkbg">
        <h1>Learn more about British snorkelling</h1>
        <p>Check our our feed to keep up to date...</p>
        <div class="btn btn-default" (click)="navigate.scrollTo('feed')">Catch up with the latest happenings</div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
