
:root {
  --line-height: 1.7;
  --lines: 4;
}

.scroll-x {
  overflow-x: scroll;
}


/* ===================================================
                  Insta post styling
 ===================================================*/


.insta-post-container:nth-child(1) {
  margin-left: 0px;
  padding-left: 0px;
}

.insta-post-container {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin: 10px;

}

.insta-photo-container {
  position: relative;
  height: 300px;
  width: 300px;
}

.insta-photo {
  object-fit: cover;
}

.caption-box {
  padding: 0px;
  line-height: var(--line-height);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(var(--line-height) * (1em * var(--lines)) + 2px)
}

.caption-box > p {
  margin: 0px;
  display: inline;
}

a {
  text-decoration: none;
  color:  #566F70;
}
