<div *ngIf="this.data.instaLoadSuccess" class="feed-container">

  <div class="feed-padding">
    <h2>Latest Happenings</h2>
    <p>
      Our instagram feed allows us to share our progress as we explore the British coastline for snorkelling opportunities,
      why not follow along?
    </p>
  </div>

  <div #feedContainer class="feed-padding insta-feed">

    <div class="insta-post" *ngFor="let item of instaFeed" (click)="navigate.to(item.permalink)">
      <div class="insta-photo">
        <img
          ngSrc="{{item.media_url}}"
          alt="{{item.caption}}"
          fill
        />
      </div>

      <span class="insta-caption-box" #captionBox>{{item.caption}}</span>
      <span class="insta-footer">
        <app-external-link link="{{item.permalink}}" text="View the full post on Instagram"></app-external-link>
      </span>
    </div>

    <div class="insta-post">
      <div class="insta-more" (click)="navigate.to('https://www.instagram.com/snorkelology/')">
        <img
          ngSrc="../assets/logos/instagram.webp"
          class="image"
          height="45"
          width="45"
          alt="Instagram logo"
        />
        <app-external-link link="https://www.instagram.com/snorkelology/" text="See more on Instagram"></app-external-link>
      </div>
    </div>

  </div>
</div>
