

.insta-feed-container {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.insta-feed-container > a {
  text-decoration: none;
  color:  #566F70;
}

.insta-post-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin: 10px;
}

.insta-post-container:hover {
  cursor: pointer;
}

.insta-post-container:nth-child(1) {
  margin-left: 0px;
  padding-left: 0px;
}

.insta-photo {
  height: 300px;
  width: 300px;
}

.insta-photo > img {
  object-fit: cover;
}

.insta-caption-box {
  padding: 0px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--insta-box-lines);
  display: -webkit-box;
  min-height: calc( var(--line-height) * var(--insta-box-lines));
}

.insta-caption-box > p {
  margin: 0px;
  display: inline;
}

.insta-footer {
  justify-content: self-end;
}
