
<div class="bg-white marketing m-0 w-100">
  <div class="container">
    <div class="row bg-white py-5">
      <div class="col-md-7 order-md-2">
        <h2 class="fw-normal">Snorkelling Adventures in Britain </h2>
        <p class="lead">
          Snorkelling is the perfect family adventure for people who love the water and the natural world.  It is free and accessible
          to people of all ages and abilities, but there is a skill in selecting safe sites with abundant underwater life.
        </p>
        <blockquote class="blockquote">
          We are working with Wild Things Publishing to release our first book - all about Snorkelling in Britain!
        </blockquote>
        <p class="lead">
          The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
          photography, clear site finding advice and vital tips to get you started.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/photos/children-showing-off-snorkelling-finds-in-scotland.jpg"
          class="d-block w-100" alt="Children showing some underwater finds after a snorkel in Scotland">
      </div>
    </div>
  </div>
</div>
